doctype html
html
	head
		title="Concourse Pipelines Dashboard"
		link(rel='stylesheet' href='css/overview.css')
		meta(http-equiv="refresh" content="10")
	body
		.container
			center
				each pipeline in pipelines
					a(href=config.concourse_url + pipeline.url)
						.pipeline(class=pipeline.status)=pipeline.name
		.footer
			|Last Updated: 
			script(type='text/javascript').
				document.write(new Date().toTimeString());