body {
	background-color: #273747;
	text-align: center;
	font-family: monospace;
	color: #e6e7e8;
}

.container {
	position: relative;
	height: 100%;
	vertical-align: middle;

}

.pipeline {
	color: #e6e7e8;
	display: inline-block;
	padding: 5px;
	
	width: 150px;
	height: 150px;
	margin: 5px;

	text-align: center;
	vertical-align: middle;

	font-weight: bold;
}

.succeeded {
	background-color: #2ECC71;
}

.aborted {
	background-color: #8F4B2D;
}

.errored {
	background-color: #E67E22 ;
}

.failed {
	background-color: #E74C3C ;
}